<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osakakuma.opms.product.dao.ProductMapper">
    <select id="getProductMasterBySku" resultType="com.osakakuma.opms.product.entity.ProductMaster">
        select * from product_master where sku = #{sku}
    </select>

    <select id="getProductPriceBySku" resultType="com.osakakuma.opms.product.entity.ProductPrice">
        select * from product_price where sku = #{sku}
    </select>

    <select id="getProductInfoBySku" resultType="com.osakakuma.opms.product.entity.ProductInfo">
        select * from product_info where sku = #{sku}
    </select>

    <select id="getProductRecordBySku" resultType="com.osakakuma.opms.product.model.ProductRecord">
        select pm.sku, pm.category, pm.sub_category, pm.brand, pm.four_quadrant, pm.hs_code,
               pm.hs_code_desc, pm.specs, pm.weight, pm.created, pm.created_by, pm.updated,
               pm.updated_by, pm.status, pm.approved, pm.approved_by,
               pi.name_en, pi.name_jp, pi.name_zh, pi.function_en, pi.function_jp, pi.function_zh,
               pi.instruction_en, pi.instruction_jp, pi.instruction_zh, pi.caution_en, pi.caution_jp,
               pi.caution_zh, pi.ingredient_en, pi.ingredient_jp, pi.ingredient_zh, pi.origin_en,
               pi.origin_jp, pi.manufacturer_addr_en, pi.manufacturer_addr_jp, pi.manufacturer_addr_zh,
               pp.sell_price, pp.cost_price, pp.gross_margin, pp.remark, pp.status as price_status
        from product_master pm
                 inner join product_info pi on pm.sku = pi.sku
                 inner join product_price pp on pi.sku = pp.sku
        where pm.sku = #{sku} and pm.status != 'REMOVED'
    </select>

    <select id="listProductRecords" resultType="com.osakakuma.opms.product.model.ProductRecord">
        select pm.sku, pm.category, pm.sub_category, pm.brand, pm.four_quadrant, pm.hs_code,
               pm.hs_code_desc, pm.specs, pm.weight, pm.created, pm.created_by, pm.updated,
               pm.updated_by, pm.status, pm.approved, pm.approved_by,
               pi.name_en, pi.name_jp, pi.name_zh, pi.function_en, pi.function_jp, pi.function_zh,
               pi.instruction_en, pi.instruction_jp, pi.instruction_zh, pi.caution_en, pi.caution_jp,
               pi.caution_zh, pi.ingredient_en, pi.ingredient_jp, pi.ingredient_zh, pi.origin_en,
               pi.origin_jp, pi.manufacturer_addr_en, pi.manufacturer_addr_jp, pi.manufacturer_addr_zh,
               pp.sell_price, pp.cost_price, pp.gross_margin, pp.remark, pp.status as price_status
        from product_master pm
                 inner join product_info pi on pm.sku = pi.sku
                 inner join product_price pp on pi.sku = pp.sku
        <where>
            and pm.status != 'REMOVED'
            <if test="sku != null">
                and pm.sku = #{sku}
            </if>
            <if test="category != null">
                and lower(pm.category) like '%' || #{category} || '%'
            </if>
            <if test="brand != null">
                and lower(pm.brand) like '%' || #{brand} || '%'
            </if>
            <if test="name != null">
                and (
                    lower(pi.name_en) like '%' || #{name} || '%' or
                    lower(pi.name_jp) like '%' || #{name} || '%' or
                    lower(pi.name_zh) like '%' || #{name} || '%'
                )
            </if>
            order by
            <choose>
                <when test="asc">
                    <choose>
                        <when test="order == 'SELL_PRICE'"> pp.sell_price </when>
                        <when test="order == 'ORDER_PRICE'"> pp.order_price </when>
                        <when test="order == 'GROSS_MARGIN'"> pp.gross_margin </when>
                        <otherwise> coalesce(pm.updated, pm.created) </otherwise>
                    </choose>
                </when>
                <otherwise>
                    <choose>
                        <when test="order == 'SELL_PRICE'"> pp.sell_price desc </when>
                        <when test="order == 'ORDER_PRICE'"> pp.order_price desc </when>
                        <when test="order == 'GROSS_MARGIN'"> pp.gross_margin desc </when>
                        <otherwise> coalesce(pm.updated, pm.created) desc </otherwise>
                    </choose>
                </otherwise>
            </choose>
        </where>
    </select>

    <insert id="insertProductMaster">
        insert into product_master (sku, category, sub_category, brand, four_quadrant, hs_code, hs_code_desc, created_by, status)
        values (#{sku}, #{category}, #{subCategory}, #{brand}, #{fourQuadrant}, #{hsCode}, #{hsCodeDesc}, #{createdBy}, #{status})
    </insert>

    <insert id="insertProductInfo">
        insert into product_info(sku, name_en, name_jp, name_zh, function_en, function_jp, function_zh, instruction_en,
                                 instruction_jp, instruction_zh, caution_en, caution_jp, caution_zh, ingredient_en,
                                 ingredient_jp, ingredient_zh, origin_en, origin_jp, manufacturer_addr_en,
                                 manufacturer_addr_jp, manufacturer_addr_zh)
        values (#{sku}, #{nameEn}, #{nameJp}, #{nameZh}, #{functionEn}, #{functionJp}, #{functionZh}, #{instructionEn},
                #{instructionJp}, #{instructionZh}, #{cautionEn}, #{cautionJp}, #{cautionZh}, #{ingredientEn},
                #{ingredientJp}, #{ingredientZh}, #{originEn}, #{originJp}, #{manufacturerAddrEn}, #{manufacturerAddrJp},
                #{manufacturerAddrZh})
    </insert>

    <insert id="insertProductPrice">
        insert into product_price (sku, sell_price, cost_price, gross_margin, remark, status)
        values (#{sku}, #{sellPrice}, #{costPrice}, #{grossMargin}, #{remark}, #{status})
    </insert>
    
    <update id="updateProductMaster">
        update product_master
        set category = #{category},
            sub_category = #{subCategory},
            brand = #{brand},
            four_quadrant = #{fourQuadrant},
            hs_code = #{hsCode},
            hs_code_desc = #{hsCodeDesc},
            status = #{status},
            updated = current_timestamp,
            updated_by = #{updatedBy}
            <if test="approved != null">
                ,
                approved = #{approved},
                approved_by = #{approvedBy}
            </if>
        where sku = #{sku}
    </update>
    
    <update id="updateProductInfo">
        update product_info
        set name_en = #{nameEn},
            name_jp = #{nameJp},
            name_zh = #{nameZh},
            function_en = #{functionEn},
            function_jp = #{functionJp},
            function_zh = #{functionZh},
            instruction_en = #{instructionEn},
            instruction_jp = #{instructionJp},
            instruction_zh = #{instructionZh},
            ingredient_en = #{ingredientEn},
            ingredient_jp = #{ingredientJp},
            ingredient_zh = #{ingredientZh},
            origin_en = #{originEn},
            origin_jp = #{originJp},
            manufacturer_addr_en = #{manufacturerAddrEn},
            manufacturer_addr_jp = #{manufacturerAddrJp},
            manufacturer_addr_zh = #{manufacturerAddrZh}
        where sku = #{sku}
    </update>
    
    <update id="updateProductPrice">
        update product_price
        set sell_price = #{sellPrice},
            cost_price = #{costPrice},
            gross_margin = #{grossMargin},
            remark = #{remark},
            status = #{status}
        where sku = #{sku}
    </update>

    <select id="getProductImages" resultType="com.osakakuma.opms.product.entity.ProductImage">
        select * from product_image
        where sku = #{sku}
        order by seq
    </select>

    <delete id="deleteProductImage" >
        delete from product_image where sku = #{sku}
    </delete>

    <insert id="insertProductImage">
        insert into product_image (sku, file_id, height, width, path, seq)
        values (#{sku}, #{fileId}, #{height}, #{width}, #{path}, #{seq})
    </insert>
</mapper>