<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.osakakuma.opms.common.dao.FileUploadMapper">
    <insert id="insertUploadFile" >
        insert into file_upload (id, module, file_name, file_ext, author, created, status)
        values (#{id}, #{module}, #{fileName}, #{fileExt}, #{author}, current_timestamp, #{status})
    </insert>
</mapper>